# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\xuexi\python\10_就业班之shell脚本（共39集）\shell脚本第一天\shell脚本第一天\2-其他资料\代码\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
